<section class="dbs-logo">
    <div class="container-fluid">
        <div class="row py-3 bg-white">
            <div class="col-2">
                <img class="img-fluid rounded" src="/assets/img/dbs-above-nav.jpg" alt="DBS">
            </div>
        </div>
    </div>
</section>

<section>
    <app-navigation-bar></app-navigation-bar>
</section>

<!-- Login dashboard START -->
<section class="account-details-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <!-- Home loan START -->
                <div class="row">
                    <div class=" card container-fluid p-0 my-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="/assets/img/home-loan.jpg" class="card-img img-fluid" alt="Home Loan">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-0">
                                    <h5 class="card-title bg-warning text-white text-center container-fluid p-2"><i class="fas fa-star"></i><i class="fas fa-star"></i> Offers only for you <i class="fas fa-star"></i><i class="fas fa-star"></i></h5>
                                    <p class="text-muted card-text p-2">Home is a dream, choose a better financial partner so that money is not a pushback when you plan to own one.</p>
                                </div>
                                <div class="text-center">
                                    <button class="m-2 btn btn-outline-warning btn-small">Explore Plans</button>
                                    <button class="m-2 btn btn-outline-warning btn-small">Calculator</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Home loan START -->

                <!-- Account details START -->
                <div class="row">
                    <div class="card container-fluid p-0 my-3">
                        <div class="card-header">
                            Accounts
                        </div>
                        <div class="card-body rounded d-flex justify-content-between align-items-center">
                            <h5 class="card-title font-weight-bold">Savings</h5>
                            <p class="card-text">{{customer.customerId}}</p>
                            <p class="card-text"><i class="fas fa-rupee-sign"></i> 1023654</p>
                        </div>
                    </div>
                </div>
                <!-- Account details END -->

                <!-- Cards details START -->
                <div class="row">
                    <div class="card container-fluid p-0 my-3">
                        <div class="card-header">
                            Cards
                        </div>
                        <div class="card-body pb-1 rounded d-flex justify-content-between align-items-center">
                            <h5 class="card-title font-weight-bold">Debit card</h5>
                            <p class="card-text">1234 - 5678 - 91011</p>
                            <p class="card-text font-weight-bold">Visa <i class="fab fa-cc-visa"></i></p>
                        </div>
                        <hr class="mt-0">
                        <div class="card-body p-0 rounded d-flex justify-content-between align-items-center">
                            <h5 class="card-title font-weight-bold ml-3">Credit card</h5>
                            <p class="card-text">91011 - 1234 - 5678</p>
                            <p class="card-text font-weight-bold mr-3">Maestro <i class="fas fa-credit-card"></i></p>
                        </div>
                    </div>
                </div>
                <!-- Cards details END -->

                <!-- Loan details START -->
                <div class="row">
                    <div class="card container-fluid p-0 my-3">
                        <div class="card-header">
                            Loans
                        </div>
                        <div class="card-body pb-3 rounded d-flex justify-content-between align-items-center">
                            <p class="card-text">Get loans at competitive market interest rates</p>
                        </div>
                    </div>
                </div>
                <!-- Loan details END -->

                <!-- Loan details START -->
                <div class="row">
                    <div class="card container-fluid p-0 my-3">
                        <div class="card-header">
                            Deposits
                        </div>
                        <div class="card-body pb-3 rounded d-flex justify-content-between align-items-center">
                            <p class="card-text">Start a deposit among variety of available options</p>
                        </div>
                    </div>
                </div>
                <!-- Loan details END -->

            </div>

            
            <div class="col-md-4">
                <div class="row mx-1">

                    <!-- Quick links START -->
                    <div class="card container-fluid p-0 mt-3">
                        <div class="font-weight-bold text-white card-header bg-danger">
                            Quick links
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Transfer</li>
                            <li class="list-group-item">Request</li>
                            <li class="list-group-item">Open FD/RD</li>
                            <li class="list-group-item">Pay Bills</li>
                            <li class="list-group-item">Cheques</li>
                            <li class="list-group-item">Manage Account</li>
                            <li class="list-group-item">Manage Profile</li>
                        </ul>
                    </div>
                    <!-- Quick links END -->

                    <!-- Ads START -->
                    <div class="card container-fluid p-0 mt-3">
                        <img src="/assets/img/car-loan.jpg" class="img-fluid card-img-top" alt="Home loans">
                        <div class="text-center font-weight-bold bg-info text-white card-header">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i> Offers only for you <i class="fas fa-star"></i><i class="fas fa-star"></i>
                        </div>
                        <div class="card-body">
                            <p class="text-muted card-text">Explore our flexible EMI plans for your car loan.</p>
                            <div class="text-muted d-flex align-items-center justify-content-between">
                                <a href="#">Explore Plans</a>
                                <b>|</b>
                                <a href="#">Calculator</a>
                            </div>
                        </div>
                    </div>
                    <!-- Ads END -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Login dashboard END -->


<section class="modal">
</section>